body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
  align-items: center;
}

pre {
  background-color: #000000;
  padding: 10px;
  border-radius: 4px;
}

code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Thiết lập màu cho thanh cuộn */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
